:root {
  /*https://coolors.co/ff595e-ffca3a-8ac926-1982c4-6a4c93*/

  --light: #f8f9faff;
  --dark: #343a40ff;

  --dark-danger:  #cd0007;
  --dark-warning: #bb8900;
  --dark-success: #537917;
  --dark-info:    #0f4e74;
  --dark-primary: #402e59;

  --danger:  #ff595e;
  --warning: #ffca3a;
  --success: #8ac926;
  --info:    #1982c4;
  --primary: #6a4c93;

  --light-danger:  #ff9a9dff;
  --light-warning: #ffdf88ff;
  --light-success: #bdf06cff;
  --light-info:    #5db9f3ff;
  --light-primary: #a177dcff;
}

body, .remodal {
  background: linear-gradient(90deg, var(--info), var(--primary)); 
  margin: 0;
  color: var(--light);
  font-size: 1.2em;
}

.remodal {
  padding: 20px;
}

h1, h2, h3 {
  color: var(--warning);
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

a {
  color: var(--light-warning);
}

a:visited {
  color: var(--warning);
}

a.button, button {
  background-color: var(--warning);
  border: 2px solid var(--dark);
  color: var(--dark);
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

a.button:disabled, button:disabled {
  background-color: var(--dark-warning);
  cursor: default;
}

.center {
  text-align: center;
}

.title {
  color: var(--warning);
  font-size: 1.5em;
  font-weight: bold;
  margin: auto 0;
  text-decoration: none;
}

html, body, .main {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  width: 100%;
  grid-template-rows: 10fr 1fr;
}

#map {
  height: 100%;
  width: 100%;
}

#bottom-bar {
  background-color: var(--dark);
  height: 100px;
  width: 100%;
}

.toolbar {
  height: 100%;
  padding: 0 5px;
}

.toolbar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.toolbar-two-row {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.toolbar-action {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.toolbar-stats {
  flex-shrink: 0;
  padding: 5px;
}

.more-actions {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.vertical-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vertical-flex > * {
  flex-grow: 1;
}

hr {
  border: none;
  margin: 4px;
}

#pseudo {
  color: var(--success);
}

.jq-toast-wrap {
  margin-bottom: 100px;
}

.jq-toast-wrap .jq-toast-single {
  font-size: 0.8em;
}

.jq-toast-wrap .jq-toast-single h2 {
  font-size: 1em;
}

.jq-toast-wrap .jq-icon-info {
  background-color: var(--dark-info);
  color: var(--light);
  border-color: var(--light-info);
}

.jq-toast-wrap .jq-icon-warning {
  background-color: var(--dark-warning);
  color: var(--light);
  border-color: var(--light-warning);
}

.jq-toast-wrap .jq-icon-error { 
  background-color: var(--dark-danger);
  color: var(--light);
  border-color: var(--light-danger);
}

.jq-toast-wrap .jq-icon-success {
  background-color: var(--dark-success);  
  color: var(--light);
  border-color: var(--light-success);
}
